html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(140deg, #0673d3, #8e44ad);
  height: 100vh;  
}
.form-signin {
  max-width: 400px;
  padding: 15px;
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


#email-input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#password {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.btn{
  margin-top: 10px;
}