html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(140deg, #0673d3, #8e44ad);
  height: 100vh; 
}

.form-signin {
  max-width: 450px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#first-name-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#last-name-input {
    margin-bottom: -1px;
    border-radius: 0;
}

#email-input {
  margin-bottom: -1px;
  border-radius: 0;
}

#password {
  margin-bottom: -1px;
    border-radius: 0;
}
#confirm-password {
  margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


span
{
  color: red;
}