html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#first-name-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#last-name-input {
    margin-bottom: -1px;
    border-radius: 0;
}

#email-input {
  margin-bottom: -1px;
  border-radius: 0;
}

#password {
  margin-bottom: -1px;
    border-radius: 0;
}
#confirm-password {
  margin-bottom: -1px;
  border-radius: 0;
}


#role
{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


span
{
  color: red;
}